<div class="timeline-body bg-themed">

  <div class="timeline-header">
    <div class="timeline-label left">Education</div>
    <div class="timeline-label right">Experience</div>
  </div>

  

  {% assign timeline = site.data.timeline | sort: "to" | reverse %}

  {% assign years = timeline | map: "to" | uniq %}

  {% for year in years %}

    <div class="timeline-row">

      <div class="timeline-year">
        {% if year == 9999 %}
          Present
        {% else %}
          {{ year }}
        {% endif %}
      </div>

      <div class="timeline-education">

        {% for item in timeline %}
          {% if item.to == year and item.category == "education" %}
            <div class="content">
              <h2>{{ item.title }}</h2>

              <h6 class="date">
                {{ item.from }} —
                {% if item.to == 9999 %}
                  Present
                {% else %}
                  {{ item.to }}
                {% endif %}
              </h6>

              <p>{{ item.description }}</p>
            </div>
          {% endif %}
        {% endfor %}

      </div>

      <div class="timeline-experience">

        {% for item in timeline %}
          {% if item.to == year and item.category == "experience" %}
            <div class="content">
              <h2>{{ item.title }}</h2>

              <h6 class="date">
                {{ item.from }} —
                {% if item.to == 9999 %}
                  Present
                {% else %}
                  {{ item.to }}
                {% endif %}
              </h6>

              <p>{{ item.description }}</p>
            </div>
          {% endif %}
        {% endfor %}

      </div>

    </div>

    
    </div>

  {% endfor %}
</div>